body{
    margin: auto;
}
.jumbotron jumbotron-fluid{
    background-color: 036635;
}
.hypothois {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }